/*!	CSS von christian@bienmueller.de 
	Gibt das Basis-Design von tabula.info V2 vor
    frontend, backend sowie lokale Anpassungen werden danach geladen
    * 
	Dieses CSS darf gerne zu beliebigem Zweck uebernommen werden	
*/
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url('../fonts/ubuntu400.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('../fonts/ubuntu700.woff') format('woff');
}
body {height: 100%;}


/***********************************************
 *                                             *
 *           Neu verteilt durch V2             *
 *                                             *
 ***********************************************/

/***********************************************
 *                                             *
 *                  Neu in V2                  *
 *                                             *
 ***********************************************/
/* Klassen für die grobe Aufteilung in neuer Oberfläche */
html, body {  height:100%;
    padding:0;
    margin:0;}
.tiP_Content {width:73%; width: calc(74% - 4px); height:100%; float:left; margin:1px;}
.tiP_Row     {width:49.5%; width: calc(50% - 2px); height:100%; float:left; margin:1px;}
.tiM_Content {width:26%; height:100%;              float:right;margin:1px;}
.tiM_Square { width:100%; height: 45%; height: calc(46% - 2px);background-color:white; border: solid blue 1px;margin:1px;}
.tiM_Status { width:100%; height: 1.2em;  
            border: solid #555 1px;margin:0px;padding:4px;
            background-color:#AAA; color:#FFF; 
            font-weight:bold;
            text-shadow: 0px 0px 3px #000000;}
.tiM_Square { overflow:hidden;} /*position:fixed;}*/

div.overlap_right {
  position: absolute;
  top: 4px;
  right: 4px;
  width: auto;
  height: auto;
  border: 0;
  z-index:5;

}

#alerter { width:1.2em; display: inline-block;text-align:center;}
.plan_iframe {
    width:100%;
    height:100%;
    border:0;
    overflow:hidden;
}
/* Neues Design für ALLE Messages */
.messages .datumdiv, 
.messages .breitdiv {float:left;width:3.5em;background-color:#e6e6e6;border-style:solid;border-color:darkgrey;text-align:center;}
.messages .breitdiv {width: 10em; font-size:70%;}
.messages .tagspan { font-size:200%;font-weight:bold} 
.messages .meldungdiv {float:left;width:80%;width:calc(100% - 3.5em - 20px);padding-left:4px;}
.messages .enddiv {clear:left}

.content table { width: 100% }
