/*!	CSS von christian@bienmueller.de 
	Gibt das Design des BACKENDs von tabula.info V2 vor
	Dieses CSS darf gerne zu beliebigem Zweck uebernommen werden	
*/
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url('../static/fonts/ubuntu400.woff') format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('../static/fonts/ubuntu700.woff') format('woff');
}
@font-face {
  font-family: 'UbuntuMono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('Ubuntu-Mono'), url('../static/fonts/UbuntuMono-R.woff') format('woff');
}

/*ehemals inline...*/
table       { border:0px;  align:left; background:#FFF;}
td          { border:0px solid #000; vertical-align:top; overflow:hidden;  background:#FFF;}
body        { font-size:13px;
              font-family: 'Ubuntu', 'liberation sans', arial, sans-serif;
            }
body, div   { margin:0px;
              padding:0px;}
              
div         { padding:2px;}

/*body, h1    { padding:0.5em;}*/
body        { background-color:#eee; overflow:auto;}
h4          { margin-bottom:0.5em; }                           

body, table {
            overflow: visible; 
            color: #000000;
            border-color: #888;
            }
            
table {     /*width: 100%;*/
            text-align:left;
            background-color: #FFF;
}

.lowmargin { margin-top:0.2em; margin-bottom:0.2em;}

.mgmcontent, .mgmcontent *, 
.hiprio *, .loprio *, 
.erased *, 
.messages table, .messages td, 
.upload, .upload td, .upload li, .upload p {
    background: #fff;
    border-color: #eee;
    color: #004; 
    vertical-align: middle;}
       
.mgmcontent, .upload {border-radius:5px;}

.messages table, .messages td, 
.hiprio *       { background: #ffe; }
.erased *       { background: #DDD; color:#555; }
.mgmcontent p   { margin-left:2em; }
.hiprio *       { color:red}
.persons, 
.messages, 
.weekmessages, 
.infos, 
.login {
  padding: 0.5em;
  margin: 0px;
  border-radius: 5px;
}

.persons, .persons td, .persons table {
  background-color: #ddffff;
  border-color: #ddffff;
  font-weight: bold;
  border:0;
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted blue; /* If you want dots under the hoverable text */
}
.tooltip .fragezeichen { background-color:blue;color:white;font-weight:bold;border-bottom: 0; padding:0.3em;   border-radius: 5px;
}


/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 360px;
  background-color: #334;
  color: #fff;
  text-align: center;
  /*padding: 5px 0;*/
  border-radius: 5px;
  border-color:green;
  text-align:left; 
  padding:0.5em;  
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Für Management */
.content a, .hiprio a, .loprio a, .erased a, .person a, .dayless *, .dayless td, .dauer * {
  background-color: #ffffdd;
  border-color: #ffffdd;
  color: #336699;
}
.content a:hover, .hiprio a:hover, .loprio a:hover, .erased a:hover, .person a:hover {
  background-color: #ffffaa;
  border-color: #ffffdd;
  color: #000000;
}
.login {
  background-color: #faaeb3;
  color: #000000;
}

@media all and (min-width: 1000px) and (min-device-width: 1000px) {
    .firstmgmcontent { width:80%; max-width: 100em;} 
    #column1_2, 
    #column2_2 {
        width: 49%;
        width: calc(50% - 4px);
        border: 0px;
        overflow: hidden;
    }
    /* lies column 1 von 2*/
    #column1_2 {
        left: 0px;
        float: left;
    }
    #column2_2 {
        right: 0px;
        float: right;
    }
}
@media all and (max-width: 999px) {
    .firstmgmcontent { width:98%; }
}

.firstmgm-content, 
.firstmgm-content table, 
.firstmgm-content td {
  background-color: #e6e6e6;
  border-color: #336699;
}
.firstmgm-content {border-radius:5px;}
.firstmgm-content .buttonsdiv    { width:9em; float:left; text-align:left;padding-top:4px;}

.inputdiv      { width:32em; float:left;}
/*.firstmgmcontent .inputdiv form input, .firstmgmcontent .buttonsdiv form  ... */

input, textarea { border: 1px solid #336699;border-radius:5px;  margin:2px; font-size:12px; }
.eingabe { font-family:UbuntuMono, monospace; } 
  

.kategorie {
    float:left;margin:1px;border:1;
    background-color:#FFA;
    width:42em;
    width:calc(100% - 12px);
    border-style:solid;border-color:green;border-radius:5px;
    padding:2px;text-align:right;
}
.kategorie h3 {
    text-align:left;
    padding-left:1em;
    background-color:lightgrey;
    color:blue;}

.unfloatleft { clear:left;padding:0px;margin:0px;border:0}
.unfloatright { clear:right;padding:0px;margin:0px;border:0}

.dauer * , .dauer td{
  background-color: #88ff88;
  border-color: #88ff88;
  color: #000000;
}
.alarm * , .alarm td{
  background-color: #f22;
  border-color: #f00;
  color: #fff;
}
.dayless *, .dayless td {
  background-color: #ffff55;
  border-color: #ffff55;
  color: #336699;
}
.erfolg, 
.erfolg * {
  background: lightgreen;
  font-style: italic;
}

#statusmeldung { min-height:4em; }
.managementmenu, .managementdetail { 
    float:left; 
    border:solid 1px blue;
    border-radius: 5px; 
    margin:2px; 
    padding:0px;}
    
 .managementrechts {
    float:left; 
    margin:0px; 
    padding:0px;}
    
.managementmenu   { width:12em;}
.managementrechts { width:calc(100% - 13em);}
.managementdetail { width:43.5em;}

#wochenmotto, 
#wochenmotto h1, 
#wochenmotto p {
  color: #ffffee;
  background-color: #000088;
}
#branding {
  position: absolute;
  overflow: hidden;
  z-index: -2;
  bottom: 150px;
  right: 100px;
  z-index: -3;
  box-shadow: 4px 4px 2px grey;
  width: 12em;
}
#branding, 
#branding * {
  text-align: center;
  padding:0;
  margin:0;
  color: #668888;
  background-color: #ddd;
  border-color: #bbb;
}
